@import "./background-img";
@import "./border";
@import "./colors";
@import "./general-properties";
@import "./mixins";

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(
    to left top,
    #1b2540,
    #4f1440 40%,
    #4f1440 50%,
    #262240
  );
  min-height: 100vh;
  width: 100%;
}

// Background Parent Layer
.main {
  width: 80%;
  // min-height: 80vh;
  background-color: #551c5c;
  // background-color: #e3dfde;
  // mix-blend-mode: color-dodge;
  margin-inline: auto;
}

// Button Universal
.btn {
  background: linear-gradient(to top right, #1b2540, #4f1440);
  border-radius: 60px;
  border: none;
  color: #d4d4d4;
  font-size: 2em;
  font-weight: 500;
  padding: 15px 45px;
}

// Card One Universal
.card-one {
  background: linear-gradient(
    to left top,
    #1b2540,
    #4f1440 40%,
    #4f1440 50%,
    #262240
  );
  // width: 45em;
  height: 25em;
  border-radius: $border_radius_sm;
}

// Card Two Universal
.card-two {
  // background: linear-gradient(-40deg, #441a5c, #18185c);
  border-radius: $border_radius_sm;
  height: 25em;
  // mix-blend-mode: difference;
  // width: 45em;
}

// Profile Universal
.profile {
  height: 10em;
  width: 10em;

  img {
    border-radius: 50%;
    filter: drop-shadow(0 0 8px #b61b90);
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
}

// Pricing Card

.pricing-card {
  background: linear-gradient(-45deg, #ee3dfb, #ffffff 50%);
  border-radius: $border_radius_lg;
  height: 35em;
  // width: 30em;
  position: relative;
}

// Hero Section
.hero-section {
  @include flex_display;
  height: 100vh;
  width: 100%;

  &__main-container {
    // background: #000000;
    box-shadow: 0 0 8px #292929;
    border-radius: $border_radius_lg;
    height: 90vh;
    width: 80%;

    display: grid;
    grid-template-areas: "hero-section--left hero-section--right";
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: auto;
  }

  &__nav {
    @include flex_display;
    justify-content: flex-end;
    height: 100px;
    padding: 0 5em;

    // To Generate Translation Effect On Nav Links
    position: relative;
    overflow-x: hidden;
  }

  &__nav-links {
    @include flex_display;
    padding: 0;
    position: relative;
    transition: $transition;
    transform: translateX(1000px);

    li {
      margin: 0 2em;
      transition: $transition;

      a {
        padding: 0;
        font-size: 1.4em;
        font-weight: 500;
        color: $text-color-primary;
        transition: $transition;

        &:hover {
          color: #b61b90;
        }
      }
    }
  }

  &__nav-icon {
    background-image: url("/project-assets/icons/menu.png");
    @include background_presets;
    cursor: pointer;
    width: 25px;
    height: 25px;
    filter: invert(1);
    transition: $transition;
  }
}

.hero-section__nav-icon.nav--icon {
  background-image: url("/project-assets/icons/close.png");
  @include background_presets;
  cursor: pointer;
  width: 20px;
  height: 20px;
  filter: invert(1);
  transition: $transition;
}

.hero-section__nav.view-overflow {
  overflow-x: visible;
}

.dropdown {
  position: absolute;
  display: none;

  li {
    margin: 1.5em 0;
  }
}

.dropdown.active {
  display: block;
}

.hero-section--left {
  background: url("/project-assets/images/Display.jpg");

  // background: linear-gradient(
  //   to left top,
  //   #1b2540,
  //   #4f1440 40%,
  //   #4f1440 50%,
  //   #262240
  // );

  @include background_presets;
  border-radius: 1.2em 0 0 1.2em;
  border: none;
  position: relative;
  transition: $transition;
}

.hero-section--right {
  background: url("/project-assets/images/adobe-products-on-tablet.jpg");
  @include background_presets;
  border-radius: 0 1.2em 1.2em 0;
  border: none;
  position: relative;
}

.hero-section__btn-timer {
  @include flex_display;
  @include hero_section_bottom;
}

.glow {
  @include flex_display;
  background: rgb(23, 252, 23);
  border-radius: 100%;
  border: none;
  box-shadow: 0 0 10px 2px rgb(23, 252, 23);
  cursor: pointer;
  height: 30px;
  width: 30px;

  // animation: name duration timing-function delay iteration-count direction fill-mode;
  animation: bubble_glow 4s alternate 0ms infinite;
  transition: $transition;

  &__inner-circle {
    width: 12px;
    height: 12px;
    background: #ffffff;
    border: none;
    border-radius: 100%;
    filter: opacity(0.8);
  }
}

// GLOW CLOSED
.glow.close {
  animation: none;
  box-shadow: none;
  background: #262240;
}

.glow__inner-circle.close {
  background: #b61b90;
}

// Glow Animation
@keyframes bubble_glow {
  0% {
    transform: scale(1);
  }
  50% {
    box-shadow: 0 0 10px 3px rgb(23, 252, 23);
    filter: hue-rotate(220deg);
    // filter: hue-rotate(180deg);
    transform: scale(1.19);
  }
  100% {
    transform: scale(1);
  }
}

.btn--book-now {
  cursor: pointer;
}

.hero-section__social-media-icons {
  @include flex_display;
  align-items: flex-end;
  @include hero_section_bottom;
  justify-content: center;
}

.social-media {
  filter: invert(1);
  height: 30px;
  margin: 0 2em;
  transition: $transition;
  width: 30px;

  &:hover {
    transform: translateY(-5px);
    filter: invert(50);
    opacity: 0.5;
  }
}

// LOGO
.hero-section__logo {
  display: none;
  height: 5em;
  width: 5em;
  transition: $transition;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100%;
    transition: $transition;
    filter: drop-shadow(0 0 8px rgba(182, 27, 144, 0.5));
  }
}

// HERO SECTION MEDIA

// 1080px
@media (max-width: 1080px) {
  .hero-section__nav {
    padding: 2em 2em;
  }

  .hero-section__nav-links li {
    margin: 0 1em;
  }
}

// 768px
@media (max-width: 768px) {
  .hero-section__main-container {
    // background: #000000;
    box-shadow: 0 0 8px #292929;
    border-radius: $border_radius_sm;
    height: 90vh;
    width: 95%;

    display: grid;
    grid-template-areas: "hero-section--right";
    grid-template-columns: repeat(1, minmax(0, 1fr));
    grid-template-rows: auto;
  }

  .hero-section--left {
    display: none;
    transition: $transition;
  }

  .hero-section--right {
    border-radius: $border_radius_sm;
  }

  .btn {
    background: linear-gradient(to top right, #1b2540, #4f1440);
    border-radius: 60px;
    border: none;
    color: #d4d4d4;
    font-size: 2em;
    font-weight: 500;
    padding: 15px 35px;
  }

  .hero-section__logo {
    display: inline-block;
  }

  .hero-section__nav {
    justify-content: space-between;
    background: linear-gradient(
      to top right,
      rgba(27, 37, 64, 0.8),
      rgba(79, 20, 64, 0.8)
    );
  }
}
// Main Section

// SERVICE-OVERVIEW

.main__service-overview {
  display: grid;
  grid-template-areas:
    "service-overview__title service-overview__title"
    "service-overview__graphic-design service-overview__photography"
    "service-overview__web-development service-overview__videography";
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: repeat(3, minmax(0, auto));
  padding: 2em 5em;
  gap: 1em;

  // border: 5px solid salmon;
  // margin: 50px;
}

.service-overview__title {
  @include title;
  grid-area: service-overview__title;
}

.service-overview__graphic-design {
  background: url("/project-assets/images/adobe-products-on-tablet.jpg");
  @include background_presets;
  grid-area: service-overview__graphic-design;

  position: relative;
}

.service-overview__photography {
  background: url("/project-assets/images/photography-studio.jpg");
  @include background_presets;
  grid-area: service-overview__photography;

  position: relative;
}

.service-overview__web-development {
  background: url("/project-assets/images/web-development.jpg");
  @include background_presets;
  grid-area: service-overview__web-development;

  position: relative;
}

.service-overview__videography {
  background: url("/project-assets/images/videography.jpg");
  @include background_presets;
  grid-area: service-overview__videography;

  position: relative;
}

.service-overview__inner-container {
  @include flex_display;
  bottom: 0.5em;
  justify-content: space-between;
  padding: 0 2.5em;
  position: absolute;
  width: 100%;
}

.inner-container__right-arrow {
  width: 40px;
  position: relative;
  transition: $transition;

  &:hover {
    transform: translateX(5px);
    filter: invert(1);
  }
}

.inner-container__title {
  @include title;
  font-size: 3em;
  font-weight: 500;
  transition: $transition;
}

// PRODUCTS AND SERVICES
.main__products-services {
  display: grid;
  grid-template-areas:
    "products-services__title products-services__title"
    "products-services__graphic-design-icon products-services__graphic-design-description"
    "products-services__social-media-description products-services__social-media-icon"
    "products-services__photography-icon products-services__photography-description"
    "products-services__videography-description products-services__videography-icon"
    "products-services__web-development-icon products-services__web-development-description";
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: repeat(6, minmax(0, auto));

  padding: 2em 5em;
  gap: 1em;
}

.products-services__title {
  @include title;
  grid-area: products-services__title;
}

.products-services__graphic-design-icon {
  // background: url("/project-assets/icons/Graphic-Design.png");
  // @include background_presets;
  object-fit: cover;
  grid-area: products-services__graphic-design-icon;
}

.products-services__graphic-design-description {
  grid-area: products-services__graphic-design-description;
}

.products-services__social-media-description {
  grid-area: products-services__social-media-description;
}

.products-services__social-media-icon {
  // background: url("/project-assets/icons/Social-media-Management.png");
  // @include background_presets;
  object-fit: cover;
  grid-area: products-services__social-media-icon;
}

.products-services__photography-icon {
  // background: url("/project-assets/icons/Photography.png");
  // @include background_presets;
  object-fit: cover;
  grid-area: products-services__photography-icon;
}

.products-services__photography-description {
  grid-area: products-services__photography-description;
}

.products-services__videography-description {
  grid-area: products-services__videography-description;
}

.products-services__videography-icon {
  // background: url("/project-assets/icons/Videography.png");
  // @include background_presets;
  object-fit: cover;
  grid-area: products-services__videography-icon;
}

.products-services__web-development-icon {
  // background: url("/project-assets/icons/Web-Development.png");
  // @include background_presets;
  object-fit: cover;
  grid-area: products-services__web-development-icon;
}

.products-services__web-development-description {
  grid-area: products-services__web-development-description;
}

.product-services__icon {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 2em;
}

.product-services-description__title {
  @include title;
  text-align: left;
  margin-bottom: 1em;
  font-size: 2.5em;
  color: $text-color-secondary;
}

.product-services-description {
  font-size: 1.8em;
  text-align: justify;
  color: $text-color-secondary;
}

.product-services__inner-container {
  padding: 2.5em;
}

// CLIENT LOGO
.main__clients {
  background: linear-gradient(-40deg, #441a5c, #18185c);
  margin: 0em 5em;
  height: auto;
  border-radius: $border_radius_sm;
  display: grid;
  grid-template-areas:
    "clients__tittle clients__tittle clients__tittle clients__tittle"
    "client__logo-1 client__logo-2 client__logo-3 client__logo-4"
    "client__logo-5 client__logo-6 client__logo-7 client__logo-8";
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-template-rows: repeat(3, minmax(0, auto));

  padding: 2em 0;
  gap: 1em;
}

.clients__tittle {
  grid-area: clients__tittle;
  @include title;
}

.client__logo {
  width: 10em;
  height: 10em;
  margin: 2em 0;
  justify-self: center;
  object-fit: cover;
}

.client__logo-1 {
  grid-area: client__logo-1;
}

.client__logo-2 {
  grid-area: client__logo-2;
}

.client__logo-3 {
  grid-area: client__logo-3;
}

.client__logo-4 {
  grid-area: client__logo-4;
}

.client__logo-5 {
  grid-area: client__logo-5;
}

.client__logo-6 {
  grid-area: client__logo-6;
}

.client__logo-7 {
  grid-area: client__logo-7;
}

.client__logo-8 {
  grid-area: client__logo-8;
}

// TESTMONIALS

.main__testmonials {
  display: grid;
  grid-template-areas:
    "testmonials__title testmonials__title"
    "testmonials__card-1 testmonials__card-2"
    "testmonials__card-3 testmonials__card-4";
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: repeat(3, minmax(0, auto));

  padding: 2em 5em;
  gap: 1em;
}

.testmonials__title {
  grid-area: testmonials__title;
  @include title;
}

.testmonials__card-1 {
  grid-area: testmonials__card-1;
}

.testmonials__card-2 {
  grid-area: testmonials__card-2;
}

.testmonials__card-3 {
  grid-area: testmonials__card-3;
}

.testmonials__card-4 {
  grid-area: testmonials__card-4;
}

.testmonial__profile {
  @include flex_display;
  justify-content: space-between;
  padding: 1.5em 5em;
}

.testmonial__profile__full-name {
  @include title;
  text-align: left;
  font-size: 2.5em;
}

.testmonial__profile__company-name {
  @include title;
  text-align: left;
  font-size: 1.5em;
  margin-top: 0.5em;
}

.testmonial__description {
  color: $text-color-primary;
  text-align: justify;
  font-size: 1.5em;
  margin-top: 0.5em;
  padding: 0 3.5em;
}

.footer {
  // @include flex_display;
  display: grid;
  grid-template-areas: "footer__address hero-section__social-media-icons--footer footer__copyright";
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: repeat(1, minmax(0, auto));

  justify-content: space-between;
  padding: 2em 5em;
  width: 80%;
  background: linear-gradient(
    to left top,
    #1b2540,
    #4f1440 40%,
    #4f1440 50%,
    #262240
  );
  margin-inline: auto;

  // justify-self: center;
}

.footer__address {
  grid-area: footer__address;
  justify-self: center;
}

.hero-section__social-media-icons--footer {
  justify-self: center;
  grid-area: hero-section__social-media-icons--footer;
}

.footer__copyright {
  grid-area: footer__copyright;
  justify-self: center;
  align-self: center;

  color: $text-color-primary;
  font-size: 1.5em;
}

.address__title {
  @include title;
  text-align-last: left;
  font-size: 2em;
  margin-bottom: 1em;
}

.address__description {
  color: $text-color-primary;
  text-align: justify;
  font-size: 1.5em;
}

.hero-section__social-media-icons--footer {
  @include flex_display;
  align-self: center;
}

// GRAPHICS PAGE STYLES

.hero-section__main-container--services {
  display: grid;
  grid-template-areas: "hero-section--right";
  grid-template-columns: auto;
  grid-template-rows: auto;
}

.hero-section--right--services {
  background: url("/project-assets/images/adobe-products-on-monitor.jpg");
  @include background_presets;
  border-radius: 1.2em;
}

.hero-section__logo--services {
  display: block;
}

.hero-section__nav--services {
  justify-content: space-between;
}

.hero-section__btn-timer--services {
  justify-content: space-between;
}

// GRAPHICS PRICING
.main__pricing {
  display: grid;
  grid-template-areas:
    "pricing__title pricing__title pricing__title"
    "pricing__card-basic pricing__card-standard pricing__card-premium";
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: repeat(2, minmax(0, auto));

  padding: 2em 5em;
  gap: 1em;
}

.pricing__title {
  grid-area: pricing__title;
  margin-bottom: 1em;
  @include title;
}

.pricing__card-basic {
  grid-area: pricing__card-basic;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-basic__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1em;
  padding: 1em 0;
}

.basic-header__title {
  @include title;
  color: #262240;
}

.basic-header__price {
  font-size: 2.5em;
  color: #262240;
}

.card-basic__main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  padding: 2em 0;

  ul {
    font-size: 1.6em;
    font-weight: 500;
    color: #262240;

    li {
      list-style-type: disc;
    }
  }
}

.basic-main__title {
  @include title;
  font-weight: 500;
  color: #fff;
  padding: 0.25em 2em;
  border-radius: 0.25em;
  background: #3a0e2f;
  margin-top: -20px;
}

.card-basic__footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
}

.basic-footer__title {
  @include title;
  font-weight: 500;
  padding: 10px;
}

.card-basic__footer {
  background: #3a0e2f;
  border-radius: 0 0 1.1em 1.1em;
}

.pricing__card-standard {
  grid-area: pricing__card-standard;
}

.pricing__card-premium {
  grid-area: pricing__card-premium;
}

// LOGOS
.main__logos {
  padding: 2em 5em;

  display: grid;
  grid-template-areas:
    "logos__title logos__title logos__title"
    "logos__description-container logos__description-container logos__description-container"
    "logos__example logos__example logos__example";
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: repeat(3, minmax(0, auto));
}

.logos__title {
  @include title;
  grid-area: logos__title;
}

.logos__description-container {
  grid-area: logos__description-container;
  // height: 10em;
}

.logos__example {
  grid-area: logos__example;
  height: 10em;
}
