@import "./background-img";
@import "./border";
@import "./colors";
@import "./general-properties";
@import "./mixins";

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  background: linear-gradient(
    to left top,
    #1b2540,
    #4f1440 40%,
    #4f1440 50%,
    #262240
  );
  min-height: 100vh;
  width: 100%;
}

// Hero Section
.hero-section {
  @include flex_display;
  height: 100vh;
  width: 100%;

  &__main-container {
    background: #000000;
    border-radius: $border_radius_lg;
    height: 90vh;
    width: 80%;

    display: grid;
    grid-template-areas: "hero-section--left hero-section--right";
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: auto;
  }

  &__nav {
    @include flex_display;
    justify-content: flex-end;
    height: 100px;
    padding: 0 5em;

    // To Generate Translation Effect On Nav Links
    position: relative;
    overflow-x: hidden;
  }

  &__nav-links {
    @include flex_display;
    padding: 0;
    position: relative;
    transition: $transition;
    transform: translateX(1000px);

    li {
      margin: 0 2em;

      a {
        padding: 0;
        font-size: 1.4em;
        font-weight: 500;
        color: $text-color-primary;
      }
    }
  }

  &__nav-icon {
    background-image: url("/project-assets/icons/menu.png");
    @include background_presets;
    cursor: pointer;
    width: 30px;
    height: 30px;
    filter: invert(1);
    transition: $transition;
  }
}

.hero-section__nav-icon.nav--icon {
  background-image: url("/project-assets/icons/close.png");
  @include background_presets;
  cursor: pointer;
  width: 30px;
  height: 30px;
  filter: invert(1);
  transition: $transition;
}

.hero-section--left {
  background: url("/project-assets/images/Display.jpg");
  @include background_presets;
  border-radius: 1.2em 0 0 1.2em;
  border: none;
}

.hero-section--right {
  background: url("/project-assets/images/adobe-products-on-tablet.jpg");
  @include background_presets;
  border-radius: 0 1.2em 1.2em 0;
  border: none;
  position: relative;
}

.hero-section__btn-timer {
  @include flex_display;
  width: 100%;
  margin-bottom: 2em;
  justify-content: space-between;
  padding: 0 5em;
  position: absolute;
  bottom: 0;
  // background: #d4d4d4;
}

.glow {
  width: 35px;
  height: 35px;
  border-radius: 100%;
  background: rgb(23, 252, 23);
  box-shadow: 0 0 8px 2px #ffffff;
  border: none;
  @include flex_display;

  &__inner-circle {
    width: 14px;
    height: 14px;
    background: #ffffff;
    border: none;
    border-radius: 100%;
    filter: opacity(0.5);
  }
}

// Background Parent Layer
.main {
  width: 80%;
  min-height: 80vh;
  background-color: #34234d;
  mix-blend-mode: color-dodge;
  margin-inline: auto;
}

// Button Universal
.btn {
  background: linear-gradient(to top right, #1b2540, #4f1440);
  border-radius: 60px;
  border: none;
  color: #d4d4d4;
  font-size: 2em;
  font-weight: 500;
  padding: 15px 45px;
}

// Card One Universal
.card-one {
  background: linear-gradient(
    to left top,
    #1b2540,
    #4f1440 40%,
    #4f1440 50%,
    #262240
  );
  width: 45em;
  height: 25em;
  border-radius: $border_radius_lg;
}

// Card Two Universal
.card-two {
  background: linear-gradient(-40deg, #000000, #470000);
  border-radius: $border_radius_lg;
  height: 25em;
  mix-blend-mode: difference;
  width: 45em;
}

// Profile Universal
.profile {
  height: 8em;
  width: 8em;

  img {
    border-radius: 50%;
    filter: drop-shadow(0 0 8px #b61b90);
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
}

// Pricing Card

.pricing-card {
  background: linear-gradient(-45deg, #ee3dfb, #ffffff);
  border-radius: $border_radius_lg;
  height: 35em;
  width: 30em;
}
