*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  background: linear-gradient(to left top, #1b2540, #4f1440 40%, #4f1440 50%, #262240);
  min-height: 100vh;
  width: 100%;
}

.main {
  width: 80%;
  background-color: #551c5c;
  margin-inline: auto;
}

.btn {
  background: linear-gradient(to top right, #1b2540, #4f1440);
  border-radius: 60px;
  border: none;
  color: #d4d4d4;
  font-size: 2em;
  font-weight: 500;
  padding: 15px 45px;
}

.card-one {
  background: linear-gradient(to left top, #1b2540, #4f1440 40%, #4f1440 50%, #262240);
  height: 25em;
  border-radius: 0.8em;
}

.card-two {
  background: linear-gradient(-40deg, #441a5c, #18185c);
  border-radius: 0.8em;
  height: 25em;
}

.profile {
  height: 10em;
  width: 10em;
}
.profile img {
  border-radius: 50%;
  filter: drop-shadow(0 0 8px #b61b90);
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.pricing-card {
  background: linear-gradient(-45deg, #ee3dfb, #ffffff);
  border-radius: 1.2em;
  height: 35em;
  width: 30em;
}

.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}
.hero-section__main-container {
  box-shadow: 0 0 8px #292929;
  border-radius: 1.2em;
  height: 90vh;
  width: 80%;
  display: grid;
  grid-template-areas: "hero-section--left hero-section--right";
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: auto;
}
.hero-section__nav {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-end;
  height: 100px;
  padding: 0 5em;
  position: relative;
  overflow-x: hidden;
}
.hero-section__nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  position: relative;
  transition: all 250ms ease-in-out 50ms;
  transform: translateX(1000px);
}
.hero-section__nav-links li {
  margin: 0 2em;
  transition: all 250ms ease-in-out 50ms;
}
.hero-section__nav-links li a {
  padding: 0;
  font-size: 1.4em;
  font-weight: 500;
  color: #ffffff;
  transition: all 250ms ease-in-out 50ms;
}
.hero-section__nav-links li a:hover {
  color: #b61b90;
}
.hero-section__nav-icon {
  background-image: url("/project-assets/icons/menu.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  width: 25px;
  height: 25px;
  filter: invert(1);
  transition: all 250ms ease-in-out 50ms;
}

.hero-section__nav-icon.nav--icon {
  background-image: url("/project-assets/icons/close.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  width: 20px;
  height: 20px;
  filter: invert(1);
  transition: all 250ms ease-in-out 50ms;
}

.hero-section__nav.view-overflow {
  overflow-x: visible;
}

.dropdown {
  position: absolute;
  display: none;
}
.dropdown li {
  margin: 1.5em 0;
}

.dropdown.active {
  display: block;
}

.hero-section--left {
  background: url("/project-assets/images/Display.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 1.2em 0 0 1.2em;
  border: none;
  position: relative;
  transition: all 250ms ease-in-out 50ms;
}

.hero-section--right {
  background: url("/project-assets/images/adobe-products-on-tablet.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0 1.2em 1.2em 0;
  border: none;
  position: relative;
}

.hero-section__btn-timer {
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  height: auto;
  justify-content: space-between;
  margin-bottom: 2em;
  padding: 0 5em;
  position: absolute;
  width: 100%;
}

.glow {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(23, 252, 23);
  border-radius: 100%;
  border: none;
  box-shadow: 0 0 10px 2px rgb(23, 252, 23);
  cursor: pointer;
  height: 30px;
  width: 30px;
  animation: bubble_glow 4s alternate 0ms infinite;
  transition: all 250ms ease-in-out 50ms;
}
.glow__inner-circle {
  width: 12px;
  height: 12px;
  background: #ffffff;
  border: none;
  border-radius: 100%;
  filter: opacity(0.8);
}

.glow.close {
  animation: none;
  box-shadow: none;
  background: #262240;
}

.glow__inner-circle.close {
  background: #b61b90;
}

@keyframes bubble_glow {
  0% {
    transform: scale(1);
  }
  50% {
    box-shadow: 0 0 10px 3px rgb(23, 252, 23);
    filter: hue-rotate(220deg);
    transform: scale(1.19);
  }
  100% {
    transform: scale(1);
  }
}
.btn--book-now {
  cursor: pointer;
}

.hero-section__social-media-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: flex-end;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  height: auto;
  justify-content: space-between;
  margin-bottom: 2em;
  padding: 0 5em;
  position: absolute;
  width: 100%;
  justify-content: center;
}

.social-media {
  filter: invert(1);
  height: 30px;
  margin: 0 2em;
  transition: all 250ms ease-in-out 50ms;
  width: 30px;
}
.social-media:hover {
  transform: translateY(-5px);
  filter: invert(50);
  opacity: 0.5;
}

.hero-section__logo {
  display: none;
  height: 5em;
  width: 5em;
  transition: all 250ms ease-in-out 50ms;
}
.hero-section__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100%;
  transition: all 250ms ease-in-out 50ms;
  filter: drop-shadow(0 0 8px rgba(182, 27, 144, 0.5));
}

@media (max-width: 1080px) {
  .hero-section__nav {
    padding: 2em 2em;
  }
  .hero-section__nav-links li {
    margin: 0 1em;
  }
}
@media (max-width: 768px) {
  .hero-section__main-container {
    box-shadow: 0 0 8px #292929;
    border-radius: 0.8em;
    height: 90vh;
    width: 95%;
    display: grid;
    grid-template-areas: "hero-section--right";
    grid-template-columns: repeat(1, minmax(0, 1fr));
    grid-template-rows: auto;
  }
  .hero-section--left {
    display: none;
    transition: all 250ms ease-in-out 50ms;
  }
  .hero-section--right {
    border-radius: 0.8em;
  }
  .btn {
    background: linear-gradient(to top right, #1b2540, #4f1440);
    border-radius: 60px;
    border: none;
    color: #d4d4d4;
    font-size: 2em;
    font-weight: 500;
    padding: 15px 35px;
  }
  .hero-section__logo {
    display: inline-block;
  }
  .hero-section__nav {
    justify-content: space-between;
    background: linear-gradient(to top right, rgba(27, 37, 64, 0.8), rgba(79, 20, 64, 0.8));
  }
}
.main__service-overview {
  display: grid;
  grid-template-areas: "service-overview__title service-overview__title" "service-overview__graphic-design service-overview__photography" "service-overview__web-development service-overview__videography";
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: repeat(3, minmax(0, auto));
  padding: 2em 5em;
  gap: 1em;
}

.service-overview__title {
  color: #ffffff;
  font-size: 3em;
  font-weight: 700;
  position: relative;
  text-align: center;
  grid-area: service-overview__title;
}

.service-overview__graphic-design {
  background: url("/project-assets/images/adobe-products-on-tablet.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  grid-area: service-overview__graphic-design;
  position: relative;
}

.service-overview__photography {
  background: url("/project-assets/images/photography-studio.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  grid-area: service-overview__photography;
  position: relative;
}

.service-overview__web-development {
  background: url("/project-assets/images/web-development.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  grid-area: service-overview__web-development;
  position: relative;
}

.service-overview__videography {
  background: url("/project-assets/images/videography.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  grid-area: service-overview__videography;
  position: relative;
}

.service-overview__inner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0.5em;
  justify-content: space-between;
  padding: 0 2.5em;
  position: absolute;
  width: 100%;
}

.inner-container__right-arrow {
  width: 40px;
  position: relative;
  transition: all 250ms ease-in-out 50ms;
}
.inner-container__right-arrow:hover {
  transform: translateX(5px);
  filter: invert(1);
}

.inner-container__title {
  color: #ffffff;
  font-size: 3em;
  font-weight: 700;
  position: relative;
  text-align: center;
  font-size: 3em;
  font-weight: 500;
  transition: all 250ms ease-in-out 50ms;
}

.main__products-services {
  display: grid;
  grid-template-areas: "products-services__title products-services__title" "products-services__graphic-design-icon products-services__graphic-design-description" "products-services__social-media-description products-services__social-media-icon" "products-services__photography-icon products-services__photography-description" "products-services__videography-description products-services__videography-icon" "products-services__web-development-icon products-services__web-development-description";
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: repeat(6, minmax(0, auto));
  padding: 2em 5em;
  gap: 1em;
}

.products-services__title {
  color: #ffffff;
  font-size: 3em;
  font-weight: 700;
  position: relative;
  text-align: center;
  grid-area: products-services__title;
}

.products-services__graphic-design-icon {
  -o-object-fit: cover;
     object-fit: cover;
  grid-area: products-services__graphic-design-icon;
}

.products-services__graphic-design-description {
  grid-area: products-services__graphic-design-description;
}

.products-services__social-media-description {
  grid-area: products-services__social-media-description;
}

.products-services__social-media-icon {
  -o-object-fit: cover;
     object-fit: cover;
  grid-area: products-services__social-media-icon;
}

.products-services__photography-icon {
  -o-object-fit: cover;
     object-fit: cover;
  grid-area: products-services__photography-icon;
}

.products-services__photography-description {
  grid-area: products-services__photography-description;
}

.products-services__videography-description {
  grid-area: products-services__videography-description;
}

.products-services__videography-icon {
  -o-object-fit: cover;
     object-fit: cover;
  grid-area: products-services__videography-icon;
}

.products-services__web-development-icon {
  -o-object-fit: cover;
     object-fit: cover;
  grid-area: products-services__web-development-icon;
}

.products-services__web-development-description {
  grid-area: products-services__web-development-description;
}

.product-services__icon {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 2em;
}

.product-services-description__title {
  color: #ffffff;
  font-size: 3em;
  font-weight: 700;
  position: relative;
  text-align: center;
  text-align: left;
  margin-bottom: 1em;
  font-size: 2.5em;
  color: #8dd4d4;
}

.product-services-description {
  font-size: 1.8em;
  text-align: justify;
  color: #8dd4d4;
}

.product-services__inner-container {
  padding: 2.5em;
}

.main__clients {
  background: linear-gradient(-40deg, #441a5c, #18185c);
  margin: 0em 5em;
  height: auto;
  border-radius: 0.8em;
  display: grid;
  grid-template-areas: "clients__tittle clients__tittle clients__tittle clients__tittle" "client__logo-1 client__logo-2 client__logo-3 client__logo-4" "client__logo-5 client__logo-6 client__logo-7 client__logo-8";
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-template-rows: repeat(3, minmax(0, auto));
  padding: 2em 0;
  gap: 1em;
}

.clients__tittle {
  grid-area: clients__tittle;
  color: #ffffff;
  font-size: 3em;
  font-weight: 700;
  position: relative;
  text-align: center;
}

.client__logo {
  width: 10em;
  height: 10em;
  margin: 2em 0;
  justify-self: center;
  -o-object-fit: cover;
     object-fit: cover;
}

.client__logo-1 {
  grid-area: client__logo-1;
}

.client__logo-2 {
  grid-area: client__logo-2;
}

.client__logo-3 {
  grid-area: client__logo-3;
}

.client__logo-4 {
  grid-area: client__logo-4;
}

.client__logo-5 {
  grid-area: client__logo-5;
}

.client__logo-6 {
  grid-area: client__logo-6;
}

.client__logo-7 {
  grid-area: client__logo-7;
}

.client__logo-8 {
  grid-area: client__logo-8;
}

.main__testmonials {
  display: grid;
  grid-template-areas: "testmonials__title testmonials__title" "testmonials__card-1 testmonials__card-2" "testmonials__card-3 testmonials__card-4";
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: repeat(3, minmax(0, auto));
  padding: 2em 5em;
  gap: 1em;
}

.testmonials__title {
  grid-area: testmonials__title;
  color: #ffffff;
  font-size: 3em;
  font-weight: 700;
  position: relative;
  text-align: center;
}

.testmonials__card-1 {
  grid-area: testmonials__card-1;
}

.testmonials__card-2 {
  grid-area: testmonials__card-2;
}

.testmonials__card-3 {
  grid-area: testmonials__card-3;
}

.testmonials__card-4 {
  grid-area: testmonials__card-4;
}

.testmonial__profile {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 1.5em 5em;
}

.testmonial__profile__full-name {
  color: #ffffff;
  font-size: 3em;
  font-weight: 700;
  position: relative;
  text-align: center;
  text-align: left;
  font-size: 2.5em;
}

.testmonial__profile__company-name {
  color: #ffffff;
  font-size: 3em;
  font-weight: 700;
  position: relative;
  text-align: center;
  text-align: left;
  font-size: 1.5em;
  margin-top: 0.5em;
}

.testmonial__description {
  color: #ffffff;
  text-align: justify;
  font-size: 1.5em;
  margin-top: 0.5em;
  padding: 0 3.5em;
}

.footer {
  display: grid;
  grid-template-areas: "footer__address hero-section__social-media-icons--footer footer__copyright";
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: repeat(1, minmax(0, auto));
  justify-content: space-between;
  padding: 2em 5em;
  width: 80%;
  background: linear-gradient(to left top, #1b2540, #4f1440 40%, #4f1440 50%, #262240);
  margin-inline: auto;
}

.footer__address {
  grid-area: footer__address;
  justify-self: center;
}

.hero-section__social-media-icons--footer {
  justify-self: center;
  grid-area: hero-section__social-media-icons--footer;
}

.footer__copyright {
  grid-area: footer__copyright;
  justify-self: center;
  align-self: center;
  color: #ffffff;
  font-size: 1.5em;
}

.address__title {
  color: #ffffff;
  font-size: 3em;
  font-weight: 700;
  position: relative;
  text-align: center;
  -moz-text-align-last: left;
       text-align-last: left;
  font-size: 2em;
  margin-bottom: 1em;
}

.address__description {
  color: #ffffff;
  text-align: justify;
  font-size: 1.5em;
}

.hero-section__social-media-icons--footer {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}/*# sourceMappingURL=styles.css.map */